<% include partials/header.ejs %>
<main>
  <section>
    <h1 class="text-center text-3xl mt-5">Blog App</h1>
    <a href="/articles/allarticles">
      <button
        class="
          border-2
          py-1
          px-6
          rounded-md
          bg-green-700
          text-white
          m-auto
          block
          mt-5
        "
      >
        All Articles
      </button>
    </a>
  </section>
</main>
