<%include partials/header%>
<main>
  <fieldset>
    <form enctype="multipart/form-data" action="/podcast" method="POST">
      <input type="title" name="title" placeholder="Title" />
      <input type="artist" name="artist" placeholder="Artist" />
      <label for="image"> Image </label>
      <input type="file" name="image" placeholder="image" />
      <label for="image"> Audio </label>
      <input type="file" name="audio" placeholder="audio" />
      <% if(user.isAdmin){ %>
      <select name="member" id="">
        <option value="Free">Free</option>
        <option value="VIP">VIP</option>
        <option value="Premium">Premium</option>
      </select>
      <% } %>
      <input class="submit" type="submit" placeholder="submit" />
    </form>
  </fieldset>
</main>
